/* ===============================
	Variable Font Style
	Author: Sheng
	最後更新日期：2015 / 02 / 13
================================*/

// $globe-font-style : 'Lato', "Helvetica Neue", Helvetica, Arial, "STHeiti", "微軟正黑體" , "Microsoft Yahei", sans-serif;
$globe-font-style : 'Lato', "Helvetica Neue", Helvetica, Arial, "STHeiti", "微軟正黑體" , "Microsoft Yahei", sans-serif;
$globe-title-font-style : 'Lato', "Helvetica Neue",cambria, georgia, Arial, "微软雅黑", "微軟正黑體", "Microsoft Yahei", sans-serif;
