// *************************************
//
//   Project StyleSheet
//
// *************************************

// -------------------------------------
//  Compass
// -------------------------------------
	@import "compass";
// -------------------------------------
//  Breakpoint
// -------------------------------------
	@import "breakpoint";

// ----------------------------------------
//  Global (請勿修改 Global底下的 sass 檔案)
// ----------------------------------------
	
	// 預設字體大小
	$base-font-size: 16px;
	$base-line-height: 24px;
	@include establish-baseline();

	// 文件樣式
	* {
	  -webkit-box-sizing: border-box;
	     -moz-box-sizing: border-box;
	          box-sizing: border-box;
	}

	html, body {
		height: 100%;
		background-color: #000;
	}

	input, textarea {
		&.focus {
			outline: none; // moz
		}
	}
	
	a {
		text-decoration: none;
	}

// -------------------------------------
//  Variables
// -------------------------------------
	@import "variables/_colors";
	@import "variables/_fonts";

// -------------------------------------
//  Mixin
// -------------------------------------
	@import "mixin/_mixin_position";
	@import "mixin/_mixin_text";
	@import "mixin/_mixin_button";

// -------------------------------------
//  Extend
// -------------------------------------


// ----------------------------------------
// ----------------------------------------
//  Special (這裏以下的檔案都是以Global檔案為基礎向上增加)
// ----------------------------------------
// ----------------------------------------

// -------------------------------------
//  Variables
// -------------------------------------

// -------------------------------------
//  Components
// -------------------------------------

// -------------------------------------
//  Partials
// -------------------------------------

// -------------------------------------
//  Rewrite
// -------------------------------------
	@import "rewrite/_rewrite_plugin";

// -------------------------------------
//  Rwd
// -------------------------------------

	// 參數範圍大小設定值
	$desktop: 3000px 1020px;
	$tablet: 1024px 701px;
	$mobile: 700px 270px;

	@import "rwd/_rwd_tablet";
	@import "rwd/_rwd_mobile";
	









